<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klassen-Feature bearbeiten: <%= feature.Name %>
    </title>
    <style>
        body {
            background-color: #1e1e1e;
            color: #f0f0f0;
            font-family: sans-serif;
        }

        h1 {
            color: #ccc;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #ddd;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #555;
            background-color: #333;
            color: #f0f0f0;
            box-sizing: border-box;
        }

        textarea {
            height: 150px;
        }

        input[type="checkbox"] {
            margin-bottom: 10px;
        }

        button[type="submit"] {
            background-color: #007bff;
            /* Blau für Bearbeiten */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        div {
            margin-bottom: 15px;
        }

        a {
            color: #5cb85c;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Feature bearbeiten: <%= feature.Name %>
    </h1>
    <form action="../../<%= feature.Name %>/edit" method="POST">
        <div>
            <label for="Stufe">Stufe:</label>
            <input type="number" id="Stufe" name="Stufe" value="<%= feature.Stufe %>" required><br>
        </div>
        <div>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" value="<%= feature.Name %>" required><br>
        </div>
        <div>
            <label for="Text">Beschreibung:</label>
            <textarea id="Text" name="Text" required><%= feature.Description %></textarea><br>
        </div>
        <div>
            <label for="HöhereStufe">Höhere Stufen:</label>
            <textarea id="HöhereStufe" name="HöhereStufe"><%= feature.HöhereStufe %></textarea><br>
        </div>
        <div>
            <label for="Referenz">Referenz:</label>
            <input type="text" id="Referenz" name="Referenz" value="<%= feature.Referenz %>" /><br /><br />
        </div>
        <button type="submit">Änderungen speichern</button>
        <p><a href="/class">Zurück zur Klassenliste</a></p>
    </form>
</body>

</html>