<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angezeigte Zauber</title>
    <style>
        body {
            background-color: #1e1e1e;
            color: #f0f0f0;
            font-family: sans-serif;
        }
        h1 {
            color: #ccc;
        }
        .filter-sort-options {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #555;
            border-radius: 5px;
            background-color: #333;
        }
        .filter-sort-options label {
            display: inline-block;
            margin-right: 10px;
            color: #ddd;
        }
        .filter-sort-options select {
            padding: 8px;
            background-color: #444;
            color: #f0f0f0;
            border: 1px solid #777;
            border-radius: 3px;
            margin-right: 15px;
        }
        .filter-sort-options select[multiple] {
            height: 80px; /* Genug Platz für mehrere Einträge */
        }
        .spell-list-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            color: #ddd;
        }
        .spell-list-header p {
            margin: 0;
        }
        .spell-list {
            margin-top: 20px;
        }
        .spell-item {
            border: 1px solid #555;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #333;
        }
        .spell-item h3 {
            color: #ddd;
            margin-top: 0;
        }
        .spell-item p {
            margin-bottom: 5px;
            margin-top: 10px;
        }
        .spell-item .classes {
            font-style: italic;
            color: #bbb;
        }
        a {
            color: #5cb85c;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        #stufeBisContainer {
            display: none; /* Standardmäßig ausgeblendet */
        }
        .spell-text-container {
            margin-top: 10px;
            padding: 10px;
            padding-top: 0px;
            padding-bottom: 0px;
            border: 1px solid #777;
            border-radius: 3px;
            background-color: #444;
            color: #f0f0f0;
            white-space: pre-wrap; /* Zeilenumbrüche im Text beibehalten */
            position: relative; /* Für die optionale "Mehr anzeigen"-Überlagerung */
            overflow: hidden;
            max-height: 150px; /* Beispiel: Definiere die anfängliche Höhe */
            transition: max-height 0.3s ease-out; /* Sanfte Animation beim Ausklappen */
        }

        .spell-text-container.expanded {
            max-height: none; /* Entfernt die Höhenbegrenzung */
        }

        .spell-text-container::after {
            content: ' ';
            position: absolute;
            color: #333;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); /* Transparenter Farbverlauf */
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.3s ease-out;
        }

        .filter-sort-options button[type="submit"] {
            font-size: 1.2em; /* Größere Schrift */
            padding: 12px 20px; /* Mehr Innenabstand */
            margin-top: 10px; /* Etwas Abstand zu den Filterelementen darüber */
            width: 100%; /* Volle Breite für einfacheres Tippen */
            display: block; /* Button als Block-Element */
        }
        .filter-sort-options label {
        display: block; /* Labels über den Auswahlfeldern anzeigen */
        margin-bottom: 5px; /* Etwas Abstand zwischen Label und Feld */
        font-size: 1em; /* Angemessene Schriftgröße */
    }

    #stufeBisContainer {
        width: 100%;
    }

    .filter-sort-options div select, .filter-sort-options select {
        width: 100%; /* Volle Breite für die Auswahlfelder */
        padding: 10px; /* Angenehmer Innenabstand */
        margin-bottom: 10px; /* Abstand zwischen den Auswahlfeldern */
        font-size: 1em;
        -webkit-appearance: none; /* Standard-Dropdown-Pfeil entfernen (für eigenes Styling) */
        -moz-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>'); /* Eigener Dropdown-Pfeil */
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 1em;
        border: 1px solid #777;
        border-radius: 4px;
        color: #f0f0f0;
        background-color: #444;
    }

    .filter-sort-options select[multiple] {
        height: auto; /* Höhe automatisch anpassen */
    }

    .filter-sort-options br {
        display: none; /* Zeilenumbrüche entfernen, da Labels jetzt block sind */
    }

        .spell-text-container.expanded::after {
            content: '';
            opacity: 0;
        }

        .spell-text-container p.spell-text-label {
            margin-top: 0; /* Oberen Margin entfernen, falls vorhanden */
            font-weight: bold;
            color: #bbb;
        }

        .spell-text-container p.spell-text-value {
            margin-bottom: 0; /* Unteren Margin entfernen, falls vorhanden */
        }

        .spell-text-container .spell-list-items {
            list-style-type: disc; /* Oder eine andere Listenpunkt-Art */
            padding-left: 20px; /* Einrückung für die Liste */
        }
        .spell-text-container .spell-list-items li {
        }
        .spell-text-container p {
            white-space: pre-wrap; /* Zeilenumbrüche beibehalten */
        }
        .spell-text-container.expanded-short::after {
            content: '';
            opacity: 0;
            display: none; /* Zusätzlich ausblenden, um sicherzugehen */
        }

        /* Akzentfarbe für Buttons */
        .filter-sort-options button[type="submit"] {
    background-color: #4cae4c; /* Dunkleres Grün */
    border-color: #398439;
    color: #fff; /* Weißer Text für besseren Kontrast */
}

.filter-sort-options button[type="submit"]:hover {
    background-color: #398439;
}

        /* Akzentfarbe für Links */
        a {
            color: #5bc0de;
        }

        a:hover {
            color: #46b8da;
        }

        /* Akzentfarbe für Zaubernamen */
        .spell-item h3 {
            color: #8ab4f8; /* Beispiel: Orange */
        }
        .fixed-top {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #333; /* Hintergrundfarbe für den fixierten Bereich */
            color: #f0f0f0;
            z-index: 100; /* Stellt sicher, dass er über anderen Inhalten liegt */
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optionaler Schatten */
        }

        .collapse-button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #444;
            color: #f0f0f0;
            border: none;
            border-radius: 5px;
            text-align: left;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .collapse-button::after {
            content: '\25BE'; /* Unicode für einen nach unten zeigenden Pfeil */
            float: right;
        }

        .collapse-button.expanded::after {
            content: '\25B4'; /* Unicode für einen nach oben zeigenden Pfeil */
        }

        .filter-sort-options {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease-out;
            margin-bottom: 10px;
            padding: 0 15px; /* Anfangs kein vertikales Padding */
        }

        .filter-sort-options.expanded {
            max-height: 500px; /* Beispielhöhe */
            padding: 15px;
            border: 1px solid #555;
            border-radius: 5px;
            background-color: #333;
        }

        .filter-sort-options label {
            display: block;
            margin-bottom: 5px;
            font-size: 1em;
        }

        .filter-sort-options select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 1em;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 1em;
            border: 1px solid #777;
            border-radius: 4px;
            color: #f0f0f0;
            background-color: #444;
        }

        #spell-search {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #777;
            border-radius: 4px;
            background-color: #444;
            color: #f0f0f0;
            font-size: 1em;
            box-sizing: border-box; /* Wichtig, damit Padding die Breite nicht beeinflusst */
        }

        #spell-search::placeholder {
            color: #aaa;
        }

        .filter-sort-options select[multiple] {
            height: auto;
        }

        .filter-sort-options br {
            display: none;
        }

        .filter-sort-options button[type="submit"] {
            font-size: 1.1em;
            padding: 10px 15px;
            background-color: #5cb85c;
            border-color: #4cae4c;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: auto; /* Standardbreite */
            display: inline-block; /* Standardanzeige */
            margin-top: 10px;
        }

        .filter-sort-options button[type="submit"]:hover {
            background-color: #4cae4c;
        }
        .spell-item .spell-meta {
            font-size: 0.9em;
            color: #ccc;
            margin-top: 0.2em;
            margin-bottom: 0.5em;
            font-style: italic;
        }
    </style>
</head>
<body>
     <div class="filter-sort-container fixed-top">
        <input type="text" id="spell-search" placeholder="Zauber suchen...">
        <button id="toggle-filter-sort" class="collapse-button">Filter & Sortieren</button>
        <div class="filter-sort-options collapsed">
            <form action="/spells" method="GET">
                <label for="klasse">Klasse:</label>
                <select name="klasse" id="klasse">
                    <option value="">Alle</option>
                    <option value="Barde" <%= locals.filterKlasse && locals.filterKlasse.includes('Barde') ? 'selected' : '' %>>Barde</option>
                    <option value="Hexenmeister" <%= locals.filterKlasse && locals.filterKlasse.includes('Hexenmeister') ? 'selected' : '' %>>Hexenmeister</option>
                    <option value="Magier" <%= locals.filterKlasse && locals.filterKlasse.includes('Magier') ? 'selected' : '' %>>Magier</option>
                    <option value="Kleriker" <%= locals.filterKlasse && locals.filterKlasse.includes('Kleriker') ? 'selected' : '' %>>Kleriker</option>
                    <option value="Druide" <%= locals.filterKlasse && locals.filterKlasse.includes('Druide') ? 'selected' : '' %>>Druide</option>
                    <option value="Krieger" <%= locals.filterKlasse && locals.filterKlasse.includes('Krieger') ? 'selected' : '' %>>Krieger</option>
                    <option value="Paladin" <%= locals.filterKlasse && locals.filterKlasse.includes('Paladin') ? 'selected' : '' %>>Paladin</option>
                    <option value="Waldläufer" <%= locals.filterKlasse && locals.filterKlasse.includes('Waldläufer') ? 'selected' : '' %>>Waldläufer</option>
                    <option value="Schurke" <%= locals.filterKlasse && locals.filterKlasse.includes('Schurke') ? 'selected' : '' %>>Schurke</option>
                    <option value="Mönch" <%= locals.filterKlasse && locals.filterKlasse.includes('Mönch') ? 'selected' : '' %>>Mönch</option>
                    <option value="Zauberer" <%= locals.filterKlasse && locals.filterKlasse.includes('Zauberer') ? 'selected' : '' %>>Zauberer</option>
                </select>

                <label for="stufeVon">Stufe Von:</label>
                <select name="stufeVon" id="stufeVon">
                    <option value="">Alle</option>
                    <option value="0" <%= locals.filterStufeVon === '0' ? 'selected' : '' %>>Zaubertrick</option>
                    <option value="1" <%= locals.filterStufeVon === '1' ? 'selected' : '' %>>1</option>
                    <option value="2" <%= locals.filterStufeVon === '2' ? 'selected' : '' %>>2</option>
                    <option value="3" <%= locals.filterStufeVon === '3' ? 'selected' : '' %>>3</option>
                    <option value="4" <%= locals.filterStufeVon === '4' ? 'selected' : '' %>>4</option>
                    <option value="5" <%= locals.filterStufeVon === '5' ? 'selected' : '' %>>5</option>
                    <option value="6" <%= locals.filterStufeVon === '6' ? 'selected' : '' %>>6</option>
                    <option value="7" <%= locals.filterStufeVon === '7' ? 'selected' : '' %>>7</option>
                    <option value="8" <%= locals.filterStufeVon === '8' ? 'selected' : '' %>>8</option>
                    <option value="9" <%= locals.filterStufeVon === '9' ? 'selected' : '' %>>9</option>
                </select>

                <div id="stufeBisContainer">
                    <label for="stufeBis">Stufe Bis:</label>
                    <select name="stufeBis" id="stufeBis">
                        <option value="">Alle</option>
                        <option value="0" <%= locals.filterStufeBis === '0' ? 'selected' : '' %>>Zaubertrick</option>
                        <option value="1" <%= locals.filterStufeBis === '1' ? 'selected' : '' %>>1</option>
                        <option value="2" <%= locals.filterStufeBis === '2' ? 'selected' : '' %>>2</option>
                        <option value="3" <%= locals.filterStufeBis === '3' ? 'selected' : '' %>>3</option>
                        <option value="4" <%= locals.filterStufeBis === '4' ? 'selected' : '' %>>4</option>
                        <option value="5" <%= locals.filterStufeBis === '5' ? 'selected' : '' %>>5</option>
                        <option value="6" <%= locals.filterStufeBis === '6' ? 'selected' : '' %>>6</option>
                        <option value="7" <%= locals.filterStufeBis === '7' ? 'selected' : '' %>>7</option>
                        <option value="8" <%= locals.filterStufeBis === '8' ? 'selected' : '' %>>8</option>
                        <option value="9" <%= locals.filterStufeBis === '9' ? 'selected' : '' %>>9</option>
                    </select>
                </div>

                <label for="schule">Schule:</label>
                <select name="schule" id="schule">
                    <option value="">Alle</option>
                    <option value="Beschwörung" <%= locals.filterSchule === 'Beschwörung' ? 'selected' : '' %>>Beschwörung</option>
                    <option value="Verzauberung" <%= locals.filterSchule === 'Verzauberung' ? 'selected' : '' %>>Verzauberung</option>
                    <option value="Hervorrufung" <%= locals.filterSchule === 'Hervorrufung' ? 'selected' : '' %>>Hervorrufung</option>
                    <option value="Nekromantie" <%= locals.filterSchule === 'Nekromantie' ? 'selected' : '' %>>Nekromantie</option>
                    <option value="Weissagung" <%= locals.filterSchule === 'Weissagung' ? 'selected' : '' %>>Weissagung</option>
                    <option value="Bannzauber" <%= locals.filterSchule === 'Bannzauber' ? 'selected' : '' %>>Bannzauber</option>
                    <option value="Illusion" <%= locals.filterSchule === 'Illusion' ? 'selected' : '' %>>Illusion</option>
                    <option value="Verwandlung" <%= locals.filterSchule === 'Verwandlung' ? 'selected' : '' %>>Verwandlung</option>
                </select>

                <label for="sortierung">Sortieren nach:</label>
                <select name="sortierung" id="sortierung">
                    <option value="name_asc" <%= locals.sortierung === 'name_asc' ? 'selected' : '' %>>Name (A-Z)</option>
                    <option value="name_desc" <%= locals.sortierung === 'name_desc' ? 'selected' : '' %>>Name (Z-A)</option>
                    <option value="stufe_asc" <%= locals.sortierung === 'stufe_asc' ? 'selected' : '' %>>Stufe (aufsteigend)</option>
                    <option value="stufe_desc" <%= locals.sortierung === 'stufe_desc' ? 'selected' : '' %>>Stufe (absteigend)</option>
                    <option value="schule_asc" <%= locals.sortierung === 'schule_asc' ? 'selected' : '' %>>Schule (A-Z)</option>
                    <option value="schule_desc" <%= locals.sortierung === 'schule_desc' ? 'selected' : '' %>>Schule (Z-A)</option>
                </select>

                <button type="submit">Anwenden</button>
            </form>
        </div>
    </div>

    <h1>Angezeigte Zauber</h1>
        
    </div>

    <div class="spell-list-header">
        <% if (spells) { %>
            <p>Anzahl der angezeigten Zauber: <%= spells.length %></p>
        <% } else { %>
            <p>Keine Zauber gefunden.</p>
        <% } %>
    </div>

    <div class="spell-list">
        <% if (spells && spells.length > 0) { %>
            <% spells.forEach(spell => { %>
                <div class="spell-item">
                     <h3><%= spell.Name %></h3>
                    <p class="spell-meta">
                         <%= spell.Stufe === "0" ? 'Zaubertrick' : "Stufe: " + spell.Stufe %>, <%= spell.Schule %>
                    </p>
                    <p><strong>Zeitaufwand:</strong> <%= spell.Zeitaufwand %></p>
                    <p><strong>Reichweite:</strong> <%= spell.Reichweite %></p>
                    <% if (spell.Konzentration) { %><p><strong>Konzentration:</strong> Ja</p><% } %>
                    <p><strong>Dauer:</strong> <%= spell.Dauer %></p>
                    <% if (spell.Ritual) { %><p><strong>Ritual:</strong> Ja</p><% } %>
                    <p><strong>Komponenten:</strong>
                    <br/>
                        <% if (spell.Verbal) { %>V<% } %>
                        <% if (spell.Gestik) { %>G<% } %>
                        <br/>
                        <% if (spell.Material) { %><%= spell.Material %><% } %>
                    </p>
                    <div class="spell-text-container"><%- locals.renderMarkdown(spell.Text) %></div>
                    <p class="classes"><strong>Klassen:</strong> <%= spell.Klasse.join(', ') %></p>
                    <% if (spell.HöhereLevel) { %><p><strong>Auf höheren Stufen:</strong> <%= spell.HöhereLevel %></p><% } %>
                </div>
                <% }); %>
        <% } else { %>
            <p>Es sind noch keine Zauber gespeichert oder die Filterkriterien haben keine Treffer ergeben.</p>
        <% } %>
    </div>
    <script>  
        const stufeVonSelect = document.getElementById('stufeVon');
        const stufeBisContainer = document.getElementById('stufeBisContainer');
        const stufeBisBR = document.getElementById('stufeBisBR');
        const stufeBisSelect = document.getElementById('stufeBis');

        stufeVonSelect.addEventListener('change', function() {
            if (this.value !== '') {
                stufeBisContainer.style.display = 'inline-block';
                stufeBisBR.style.display = 'inline-block';
                if (stufeBisSelect.value === '') {
                    stufeBisSelect.value = this.value;
                }
            } else {
                stufeBisContainer.style.display = 'none';
                stufeBisBR.style.display = 'none';
                stufeBisSelect.value = '';
            }
        });

        // Beim Laden der Seite prüfen, ob 'Stufe Von' bereits ausgewählt ist
        if (stufeVonSelect.value !== '') {
            stufeBisContainer.style.display = 'inline-block';
            stufeBisBR.style.display = 'inline-block';
            
            if (stufeBisSelect.value === '') {
                stufeBisSelect.value = stufeVonSelect.value;
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Filter & Sortieren Toggle
            const toggleButton = document.getElementById('toggle-filter-sort');
            const filterSortOptions = document.querySelector('.filter-sort-options');
            toggleButton.addEventListener('click', function() {
                filterSortOptions.classList.toggle('expanded');
                this.classList.toggle('expanded');
            });

            // Spell-Text-Container Expand/Collapse
            const spellTextContainers = document.querySelectorAll('.spell-text-container');
            spellTextContainers.forEach(container => {
                // Prüfen, ob der Inhalt die max-height überschreitet
                if (container.scrollHeight > container.offsetHeight) {
                    container.addEventListener('click', function() {
                        this.classList.toggle('expanded');
                    });
                } else {
                    // Pseudo-Element stilistisch entfernen, da direkter Zugriff nicht möglich ist
                    const afterElement = window.getComputedStyle(container, '::after');
                    if (afterElement.content !== 'none') {
                        container.classList.add('expanded-short');
                    }
                }
            });

            const searchInput = document.getElementById('spell-search');
            const spellItems = document.querySelectorAll('.spell-item');

            searchInput.addEventListener('input', function() {
                const searchTerm = this.value.toLowerCase();

                spellItems.forEach(item => {
                    const spellName = item.querySelector('h3').textContent.toLowerCase();
                    const spellClasses = item.querySelector('.classes').textContent.toLowerCase();
                    const spellText = item.querySelector('.spell-text-container div').textContent.toLowerCase();
                    const spellMeta = item.querySelector('.spell-meta').textContent.toLowerCase();

                    if (spellName.includes(searchTerm)) {
                        item.style.display = ''; // Zeige das Element
                    } else {
                        item.style.display = 'none'; // Blende das Element aus
                    }
                });
                
            });
        });
    </script>
</body>
</html>
